
/* ---------------------- MENUEN ---------------------- */

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: white;
  padding-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  border: none;
}

.div1 {
  width: 25px;
  height: 2px;
  background-color: black;
  margin-top: -10px;
}

.div2 {
  width: 25px;
  height: 2px;
  background-color: black;
}

.div3 {
  width: 25px;
  height: 2px;
  background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  margin-top: 13.5px;
  margin-left: -4px;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 14px;
  padding: 10px 14px;
  display: block;
  font-family: 'signika', sans-serif;
  background-color: #ffffff;
  text-decoration: none;
  border: 1px solid lightgrey;
  margin: -5px;
}

@media only screen and (max-width: 480px) {
dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-family: "Arial";
  background-color: #ffffff;
}
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.logo {

  margin-top: -35px;
  text-align: center;
}

.favoritter {
  padding-left: 265px;
  margin-top: -30px;
}

.indkobskurv {
  float: right;
  margin-top: -30px;
  padding-right: 8px;
}



/* ----------------------- FORSIDE ------------------------*/



/* ----------------------- SØG ------------------------- */

* {
  box-sizing: border-box;
  margin-top: 7px;
}

/* Style the search field */
form.sogeboks input[type=tekst] {
  padding: 5px;
  width: 80%;
  margin-left: 4px;
  font-size: 12px;
  border: 1px solid lightgrey;
  float: left;
  background: #f1f1f1;
  font-family: 'signika', sans-serif;
}

/* Style the submit button */
form.sogeboks button {
  float: left;
  width: 17%;
  padding: 1.5px;
  background: white;
  color: grey;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.sogeboks button:hover {
  background: #ffffff;
}

/* Clear floats */
form.sogeboks::after {
  content: "";
  clear: both;
  display: table;
}

/* BILLEDER PÅ FORSIDEN */

.baggrundsbillede1 {
  margin-top: 5px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.baggrundsbillede1 img {
  width: 100%;
  height: auto;
}

.baggrundsbillede2 {
  margin-top: 1px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.baggrundsbillede2 img {
  width: 100%;
  height: auto;
}

.baggrundsbillede4 {
  margin-top: 1px;
  float: left;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* ------------------ BILLEDGENKENDELSE ---------------*/

.overskrift {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  font-family: 'signika', sans-serif;
  color: #96D9C0;
}

.hr4 {
  width: 50%;
  margin-left: 25%;
  margin-top: -15px;
  margin-bottom: 20px;
}

.kameraogscan {
  padding-left: 4.5px;
}

.tagbilledeknap {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 60%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 20%;
  margin-top: 20px;
}

.tagbilledeknap a {
  color: white;
}

/* ------------------- BESKÆR BILLEDE -------------- */

.overskriftbeskaer {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  font-family: 'signika', sans-serif;
  color: #96D9C0;
}

.hr5 {
  width: 50%;
  margin-left: 25%;
  margin-top: -15px;
  margin-bottom: 20px;
}

.beskaerbilledepic {
  padding-left: 11px;
  padding-top: 3px;
}

.beskaerknap {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 70%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 15%;
  margin-top: 20px;
}

.beskaerknap a {
  color: white;
}


/* ------------------- LOG IND --------------------- */

.hr2 {
  width: 25%;
  margin-left: 37.5%;
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Overskriften på siden "Log ind" */
.logindoverskrift {
  text-align: center;
  font-family: 'signika', sans-serif;
  font-size: 26px;
  margin-top: 40px;
  color: #96D9C0;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=E-mailadresse] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'signika', sans-serif;
}

/* Brugernavn og adgangskode */
.containerprofil {
  padding: 16px;
  font-family: 'signika', sans-serif;
  font-size: 12px;
}

/* Glemt adgangskode */
span.psw {
  float: left;
  font-family: 'signika', sans-serif;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  padding-left: 17px;
}

.logind {
  background-color: #96D9C0;
  padding: 4px 4px;
  margin: 4px 4px;
  width: 40%;
  border-radius: 18px;
  padding-left: 20px;
}

.logindknap {
  background-color: #96D9C0;
  color: #ffffff;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 20px;
  font-family: 'signika', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-bottom: -10px;
  text-decoration: none;
}

.logindknap a {
  color: #ffffff;
}

.forblivloggetind {
  font-family: 'signika', sans-serif;
  font-size: 12px;
  padding-left: 98px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.opret {
  font-size: 14px;
  font-family: 'signika', sans-serif;
}


/* ----------------- OPRET BRUGER -----------------*/

.opretbrugeroverskrift {
  font-family: 'signika', sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 40px;
  color: #96D9C0;
}

.opretbrugertekst {
  font-family: 'signika', sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: -25px;
}

.hr3 {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profilbilledelogo {
  padding-left: 88px;
  margin-top: -10px;
}

.opretbokse {
  font-family: 'signika', sans-serif;
  padding: 16px;
  font-size: 12px;
  margin-top: -15px;
}

.opretknap {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.opretknap a {
  color: #ffffff;
}

/* -------------------  MIN PROFIL ---------------- */


.hr5 {
  width: 30%;
  margin-left: 35%;
  margin-top: -15px;
  margin-bottom: 20px;
}

.profilbillede {
  padding-left: 80px;
  margin-top: -10px;
}

.profiltekst {
  text-align: center;
  font-family: 'signika', sans-serif;
  font-size: 14px;

}

.mineoplysninger {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: 20px;
}

.mineoplysninger a {
  color: #ffffff;
}

.senesteordrer {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senesteordrer a {
  color: #ffffff;
}

.sogehistorik {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.sogehistorik a {
  color: #ffffff;
}

.senestebilledgenkendelser {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senestebilledgenkendelser a {
  color: #ffffff;
}

.logud {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.logud a {
  color: #ffffff;
}

/* ------------------- Mine oplysninger ----------- */

.tilbage {
  background-color: #96D9C0;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: -5px;
}

.tilbage a {
  color: #ffffff;
}

.beskrivelse {
  text-align: left;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  padding-left: 20px;
}

/* ------------------- SENESTE ORDRE -------------- */

.profiltekst1 {
  text-align: center;
  font-family: 'signika', sans-serif;
  font-size: 14px;
  padding-bottom: 16px;
}

/* ------------------- FOOTEREN -------------------*/

/* Footeren */
.footer {
  width: 98%;
  padding-bottom: 65px;
  height: 160px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: 'signika', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 13.2px;
  font-size: 15px;
}

/* Alle links i footeren skal være sorte */
.footer a {
  color: #000000;
}

/* Kontaktoplysninger i footeren */
.centered1 {
  text-align: center;
}

/* Copyright-tekst i footeren*/
.centered2 {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  margin-bottom: 75px;
}


/* ------------------- NEDERSTE MENU -------------------*/

/* Place the navbar at the bottom of the page, and make it stick */
.barbottom {
  background: #FFFFFF;
  border-top: 1px solid #DDDDDD;
  z-index: 99;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Style the links inside the navigation bar */
.barbottom a {
  display: inline-block;
  text-align: center;
  padding: 2px 11px;
}

.barbottom a img {
  height: 40px;
  width: 40px;
}
